/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
}
/* rem set up */
html {
	font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}

/* Clear fix hack */
.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	font-size: 12px;
	line-height: 1.4;
	font-family: Helvetica, Arial, sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
	text-align: center;
}
#coin {
	position: relative;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	cursor: pointer;
}
#coin div {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.side-a {
	background-color: #bb0000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.side-b {
	background-color: #3e3e3e;
	display: flex;
	align-items: center;
	justify-content: center;
}

#coin {
	transition: -webkit-transform 1s ease-in;
	transform-style: preserve-3d;
}
#coin div {
	position: absolute;
	backface-visibility: hidden;
}
.side-a {
	z-index: 100;
}
.side-b {
	transform: rotateY(-180deg);
}

#coin.heads {
	animation: flipHeads 3s ease-out forwards;
}
#coin.tails {
	animation: flipTails 3s ease-out forwards;
}

@keyframes flipHeads {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(1800deg);
	}
}
@keyframes flipTails {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(1980deg);
	}
}
